[submodule "web"]
	path = web
	url = git@github.com:alibaba/ruby.taobao.org.git
[submodule "rubygems-mirror"]
	path = rubygems-mirror
	url = https://github.com/alibaba/rubygems-mirror.git
[submodule "bundler-api"]
	path = bundler-api
	url = https://github.com/bundler/bundler-api.git
